  <li>
    <%= link_to order.item.name,  item_path(order.item) %>
      Price: $<%=  order.item.price %>
      Qty: <%= order.quantity %> 
      Total: $<%= order.item.price * order.quantity%>
    <%= link_to "Edit", edit_order_path(order) %>
    <%= link_to "Delete", order_path(order), method: :delete, data: { confirm: "Are you sure you want to delete this order?" } %>
     <%# link_to "Delete", person, method: :delete, data: { confirm: "Really?" } %>
    <%# link_to "Delete", [@invoice, purchase], method: :delete, confirm: "Are you sure you want to delete this order?" %>
 </li>

  <!-- add link or button for edit and delete
  go to edit_order_path 
  -->