<h1>New User Sign Up</h1>
<%= form_with model: @user, local: true do |f| %>
  <%= f.label "User Name:" %>
  <%= f.text_field :username %>
  <br>
  <%= f.label "Password:" %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Sign up" %>
<% end  %>
