<h1>New User Sign Up</h1>

<% if @user.errors.any? %>
  <h2><%= pluralize(@user.errors.count, "error") %> 
  prohibited this user from being save:</h2>
  <% @user.errors.full_messages.each do |msg| %>
   <p class="error" ><%= msg %></p>
  <% end %>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <%= f.label "Name:" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label "Password:" %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Sign up" %>
<% end  %>
