<h1>Welcome <%= @user.name %></h1>

<% if @user.orders %>
 <h4>Shopping Cart:</h4> 
 <div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Shipping Status</th>
          <th>Total</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders.each do |order| %>
          <%= render partial: 'listitem', locals: {order: order} %>
       <% end %>
      </tbody>
     </table>
  </div>
 </div>

 <%= subtotal(@user) %>
<% end %>
<br />

<%= link_to "Listing All Orders", orders_path, class: 'btn btn-mini' %><br />
<%= link_to "Listing Items", items_path, class: 'btn btn-mini' %><br />

<%= link_to "All #{@user.name}'s listed items", user_items_path(@user.id, @user.items), class: 'btn btn-mini' %>

<td> <%# link_to "Edit", edit_item_order_path(order.item, order), class: 'btn btn-mini btn-success' %></td>

<%# @listed_items = Item.where("user_id = ?", params[:id])  %>
<% @listed_items.each do |listed_item| %>
  <ul>
    <li><h4>Name:</h4><%= listed_item.name %></li>
    <li><h4>Price:</h4><%= listed_item.price %></li>
    <li><h4>Description:</h4><%= listed_item.description %></li>
  </ul>
<% end %>

