<h1>Welcome <%= @user.name %></h1>

<% if @user.orders %>
   <h4>Shopping Cart:</h4> 
   
 <div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Total</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders.each do |order| %>
          <%= render partial: 'listitem', locals: {order: order} %>
       <% end %>
      </tbody>
     </table>
  </div>
</div>

   <%= subtotal(@user) %>
   <!-- <% item_count = 0 %>
     <% subtotal = 0.0 %>
     <% @user.orders.each do |order| %>
      <li><%= link_to order.item.name, 
        item_path(order.item) %>
        Price: $<%=  order.item.price %>
        Qty: <%= order.quantity %> 
        Total: $<%= order.item.price * order.quantity%>
        
        <% item_count += 1 %>
        <% subtotal += order.item.price * order.quantity%>
        <%#order.delivered  ? "delivered" : "not delivered" %> 
      </li>
     <% end %>
    -->
   
<% end %>
<!--Subtotal (<%= item_count %> items): <%= number_to_currency(subtotal) %><br /> -->
<!-- Subtotal (<%= pluralize(@user.orders.count, "item") %>): <%= number_to_currency(subtotal) %><br />
-->
<br />
<%= link_to "Listing Items", items_path %>



