<h1>Edit Item</h1>

<%= form_for(@order) do |f| %>
      <div class="field">
        <%= f.label "Shipping status:" %>
        <%= f.check_box :shipping_status %>
      </div>
    <%= f.hidden_field :item_id, value: @item.id %>
    <div class="actions"> 
       <%= f.submit "Update"%>
    </div>
<% end %>
    