<h1>Edit Item</h1>
<!--
<%= form_for(@item) do |f| %>
  <% listed_item = @item.orders.find_by(item_id: @item.id) %>
    <div class="field">
      <%= f.label "Name:" %>
      <%= f.text_field :name %>
    </div>
    
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="field">
      <%= f.label "Price:" %>
      <%= f.text_field :price %>
    </div>

    <div class="field">
      <%= f.label "Description:" %>
      <%= f.text_area :description %>
    </div>
    <%= form_for(@order) do |f| %>
      <div class="field">
        <%= f.label "Shipping status:" %>
        <%= f.check_box :shipping_status %>
      </div>
    <% end %>
    <div class="actions"> 
       <%= f.submit "Update"%>
    </div>
 
<% end %>
-->
<%= form_for(@order) do |f| %>
      <div class="field">
        <%= f.label "Shipping status:" %>
        <%= f.check_box :shipping_status %>
      </div>
    <%= f.hidden_field :item_id, value: @item.id %>
    <div class="actions"> 
       <%= f.submit "Update"%>
    </div>
<% end %>
    