<h2>Listing Items</h2>

<ul>
  <% @items.each do |item| %>
   <% render "item", item: item %>
   <li><%= link_to item.name, item_path(item) %>
    $<%= item.price %>
     - <%= item.description %></li>
  <% end %>
</ul>
 
 <table>
  <thead>
    <tr>
      <th colspan = "4"></th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td>
          <strong>Name</strong>
        </td>
        <td>  
           <strong>Price</strong>
        </td>
        <td>
          <strong>Details</strong>
        </td>
        <td>
          <strong>Qualtity</strong>
        </td>
      </tr>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td>$<%= item.price %></td>
        <td><%= link_to "Go to #{item.name}", item_path(item)%></td>
      </tr>
      <% end %>
    </tbody>
 </table>

