<h1>Item</h1>

<%= render 'orders/form' %>


<%# link_to "Listing Items", items_path %>
 <%# link_to "#{current_user.name}'s order", user_path(current_user) %>
  <%= link_to "#{@item.name}'s orders", item_orders_path(@item) %>
<%#  link_to "Show all orders", item_orders_path(@item) %>
<p>Reviews:</p>
<%= review(@item) %>
<% @item.orders.each do |order| %>
  <div><%= order.review %></div>
<% end %>
<br />
<%= link_to "Back", items_path %>


