<h1><%= @item.name %></h1>
Price: <%= @item.price %><br />
Description: <%= @item.description %><br />
 <%= form_tag("/orders", method: "post") do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :item_id, @item.id %>
    <%= button_tag "Order this item" %>
 <% end %>

