<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>


<h2><%= @item.name %></h2>
Price: $<%= @item.price %><br />
Description: <%= @item.description %><br />


<%# form_tag("/orders", method: "post") do %>
<%= form_for(@order) do |f|%>

  <!-- Qty: <%= f.select :quantity, (0..30), :prompt => 'Select' %><br /><br />
-->
   Qty: <%= f.select :quantity, (0..30) %><br /><br />
  <%# f.hidden_field :authenticity_token, form_authenticity_token %>
  
  <%# f.hidden_field :item_id %>
  <%= f.hidden_field :user_id => current_user.id%>
  <%= f.hidden_field :item_id => @item.id %>
  <%# hidden_field_tag 'selected', 'none'  %>
 
  <%= f.submit "Add to Cart" %>
<% end %>
<br />
<%= link_to "Listing Items", items_path %>

