<h1>Item</h1>

<%= render 'orders/form' %>


<%# link_to "Listing Items", items_path %>
 <%# link_to "#{current_user.name}'s order", user_path(current_user) %>
  <%= link_to "#{@item.name}'s orders", item_orders_path(@item) %>
<%#  link_to "Show all orders", item_orders_path(@item) %>
<p>Reviews:</p>
<%# review(@item) %>

<% review_count = 0 %>
<% subtotal = 0.0 %>
<% review_avg = 0.0 %>

<% @item.orders.each do |order| %>
  <div><%= order.review %></div>
 <%  review_count += 1 %>
 <%  subtotal += order.review if !order.review.nil? %>
<% end %>

 <% review_avg = subtotal / review_count %>
<br />
Rating (<%= pluralize(review_count, "review") %>): <%= review_avg %><br />
<%= link_to "Back", items_path %>


