<h2><%= @item.name %></h2>
Price: $<%= @item.price %><br />
Description: <%= @item.description %><br />

<!-- Orders: 
  <% @item.orders.each do |order| %>
    <%= link_to order.user.name, user_path(order.user) %>
    <%= order.quantity %>
  <%  end %>
  -->

<%= link_to "Listing Items", items_path %>

<%# form_tag("/orders", method: "post") do %>
<%= form_for @order do |f|%>
Qly: <%= f.select :quantity, (0..30) %>
<%# f.hidden_field :authenticity_token, form_authenticity_token %>
 
  <%= f.hidden_field :item_id %><br />
 <%=  hidden_field_tag @item.id %>
  <%= f.button "Add to Cart" %>
<% end %>

